
p{
  color:rgb(0, 247, 255);
  margin-left:50px;
  margin-right:50px;
}
p1{
  color:rgb(0, 247, 255);
  margin-left:50px;
  margin-right:50px;
}
li{
  color:yellow;
list-style-type: none;
text-decoration: none;
}
a{
  text-decoration: none;
}
body {
    background-image: url("https://cdn.discordapp.com/attachments/581934624368885763/844965351548387438/186278.jpg");
    background-repeat: repeat-y;
    width:80%;
    margin-left:auto;
    margin-right:auto;          /* center page */
    font-family: Helvetica, Arial, sans-serif;       /* change font type */
    
}
#nav1{
  color:yellowgreen;
}
h1{
  text-align: center;
  background-color: black;
  color: #00ffff;
  text-align:center;
  padding:5px;
  margin: 0.5;
}  
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: grey;
  line-height:40px;
  margin: 0;
  padding: 0;
}
nav li {
/* float: left; */
display: inline;
}
nav a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to black on hover */
nav a:hover {
  background-color: #ffffff;
  color:black;
}
h2{
    margin: 0.5;
    color:#0077ff ;
}
h3{
  margin-bottom:0;
  margin-left:20px;
  color:skyblue;
}


#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
}
#content {
    padding: 10px;
}


#nav{
  width: 180px;
  float: left;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav .selected{
  font-weight: bold;
}
main{
  width: 600px;
  float: right;
}

footer{
  font: Lucida;
  clear: both;
  padding: 10px;
  background-color: #000000;
  color:rgb(148, 0, 0);
  text-align: center;
}

.w3-container{
  background-color:rgba(12, 12,12, 0.9);
}